* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f5f9fc;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
}

img {
  width: 100%;
  height: 100%;
}
.wrapper {
  position: relative;
}
#menu {
  flex-direction: column;
  cursor: pointer;
}
.stripe1,
.stripe2,
.stripe3 {
  width: 40px;
  height: 5px;
  background-color: #ff5c00;
  margin: 5px;
  border-radius: 10px;
  transition: 0.4s;
}

.rotate .stripe1 {
  -webkit-transform: rotate(-45deg) translate(-10px, 8px);
  transform: rotate(-45deg) translate(-10px, 10px);
}
.rotate .stripe2 {
  opacity: 0;
}
.rotate .stripe3 {
  -webkit-transform: rotate(45deg) translate(-10px, -10px);
  transform: rotate(45deg) translate(-11px, -11px);
}
.nav-bar {
  position: relative;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.align-start {
  align-items: flex-start;
}
.logo {
  width: 30%;
}
.nav-ul {
  height: auto;
  min-width: 40%;
  margin: 0;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #222831;
}
.nav-link:hover {
  color: #ff5c00;
}
.nav-show .nav-ul,
.nav-show .nav-list {
  display: flex;
  width: 100%;
  height: auto;
  padding: 5%;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

#hero {
  position: relative;
  min-height: 75vh;
  width: 100%;
  background-image: url("assets/image/about-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: #222831;
  opacity: 0.7;
}
.hero-content {
  width: 70%;
  height: 20vw;
  position: relative;
  color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-content h1 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
}
.hero-content p {
  font-size: 1.3rem;
}
.action-link {
  position: relative;
  display: block;
  min-width: 15rem;
  min-height: 3rem;
  overflow: hidden;
  padding: 1rem 5rem;
  margin: 2rem 0;
  text-decoration: none;
  color: #fff;
  background-color: #ff5c00;
  border-radius: 100px;
  transition: all 800ms;
  text-align: center;
}
.action-link:hover {
  background-color: transparent;
  color: #ff5c00;
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(4);
  }
  40% {
    transform: scale(8);
  }
  60% {
    transform: scale(12);
  }
  80% {
    transform: scale(16);
  }
  100% {
    transform: scale(20);
  }
}
.action-link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  margin: -0.5rem;
  border-radius: 50%;
  z-index: -1;
  /* transform: scale(0); */
  background-color: #fff;
  color: #ff5c00;
}
.action-link:hover:before {
  animation: pulse 500ms;
  animation-fill-mode: forwards;
}

section#about {
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 3rem 0;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  font-size: 1rem;
}
.card,
.about-card {
  height: auto;
  padding: 2.5%;
  margin: 2.5% 0;
  border-radius: 10px;
  background-color: #fff;
  line-height: 1.8rem;

  color: #494947;
}
.card-head,
.service-head,
.process-head {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.card-svg,
.service-svg,
.process-svg {
  width: 4rem;
  height: 4rem;
  padding: 0.8rem;
  margin: 0.5rem;
  background-color: #ff5c00;
  border-radius: 50%;
}
.svg-img {
  width: 100%;
  height: 100%;
}
.card-title {
  color: #ff5c00;
}
.desc-container {
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 3rem 0;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  color: #fff;
  font-size: 1rem;
}
.desc {
  display: block;
  width: 300px;
  margin: 3rem;
  min-height: min-content;
  flex: 1.5 0 auto;
  color: #494947;
  line-height: 1.8em;
}
/* #desc__who{
  font-size: 1.3rem;
} */
.process-desc p {
  display: block;
}
.action-link2 {
  position: relative;
  display: block;
  width: max-content;
  height: auto;
  overflow: hidden;
  padding: 1rem 5rem;
  margin: 2rem 0;
  text-decoration: none;
  color: #fff;
  background-color: #ff5c00;
  border-radius: 100px;
  transition: all 800ms;
  text-align: center;
}

.action-link2:hover {
  background-color: transparent;
  color: #ff5c00;
  border: solid 1px #ff5c00;
}

.img {
  width: 100%;
  height: 100%;
}
#process {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #262335;
  color: #fff;
}
#process h2 {
  margin-left: 2rem;
}
#services,
#process-list {
  width: 100%;
  height: auto;
  overflow: auto;
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #262335;

  color: #fff;
  line-height: 1.8em;
}
.services h2,
.process h2 {
  color: #ff5c00;
}
.service,
.process {
  padding: 2.5%;
  flex: 1 0 auto;
  font-size: 1rem;
}

.values {
  height: 1.5rem;
  width: inherit;
  margin: 1rem 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list-svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

footer {
  width: 100%;
  height: auto;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #16171d;
  color: #636363;
}
.reach {
  width: 100%;
  height: auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  border-bottom: solid 0.1rem #636363;
}
.reach__header {
  width: 60%;

  align-self: flex-start;
  color: #a7a6a6;
  border-bottom: solid 1px #ff5c00;
}
.contact {
  width: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.address {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
address {
  display: block;
}
.contact-link {
  color: #fff;

  text-decoration: none;
}
.social {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.address-icon {
  width: 3rem;
  height: 3rem;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#address {
  background-image: url("assets/location.svg");
  transition: all 200ms;
}
#mail {
  background-image: url("assets/mail.svg");
  transition: all 400ms;
}
#phone {
  background-image: url("assets/phone.svg");
  transition: all 200ms;
}
#address:hover {
  background-image: url("assets/location-pulse.svg");
  transform: translateY(-15px);
  transform: scale(1.2);
}
#mail:hover {
  background-image: url("assets/mail-after.svg");
}
#phone:hover {
  background-image: url("assets/phone\ -after.svg");
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.footer-logo {
  width: 200px;
  height: 200px;
  flex: 0 1 auto;
}

.address-icon {
  margin-right: 1.5rem;
}
.handle {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}
.handle:hover {
  transform: scale(1.5);
}
.copyright {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
}

@media screen and (min-width: 320px) {
  section#about {
    flex-flow: column wrap;
  }
  .card,
  .about-card,
  .service,
  .process {
    width: 90%;
  }
  footer {
    padding: 2rem 5rem;
  }
  .address {
    margin: 0.5rem 0;
  }
}

@media screen and (min-width: 720px) {
  section#about {
    flex-flow: row wrap;
  }
  .card,
  .service,
  .process {
    width: 45%;
  }

  .about-card {
    width: 30%;
  }
  footer {
    padding: 5rem 10rem;
  }
  .address {
    margin: 1rem 0;
  }
}

/* @media screen and (max-width: 830px) {
  .footer-logo {
    height: 12vh;
  }
} */

@media screen and (max-width: 920px) {
  .reach {
    flex-flow: column;
  }
  footer {
    padding: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .nav-bar {
    padding: 1rem 2rem;
  }
  .logo {
    width: 40%;
  }
  #menu {
    display: flex;
  }
  .nav-ul {
    display: flex;
    flex-direction: column;
  }
  .nav-list {
    display: none;
    width: 100%;
    padding: 5%;
    text-align: center;
    transition: all 0.4s;
  }
  .nav-list .nav-show {
    width: 100%;
    height: auto;
    padding: 5%;
    flex-direction: column;
    text-align: center;
    z-index: 2;
  }
}

@media screen and (min-width: 1001px) {
  #menu {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  section#about {
    flex-flow: row wrap;
  }
  .card,
  .process {
    width: 20%;
  }
  .service {
    width: 30%;
  }
  .reach {
    flex-flow: row wrap;
  }
}
